.output{
    color:black;
    font-size: 50px;
    text-decoration: dotted;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./images/health.jpg");
    background-position: center;
background-size: cover;
}
.mainpage{
  display: flex;

}
body {
    font-family: Arial, sans-serif;
}
.links ul {
    list-style: none;
    display: flex;
    margin-left: 600px;
   
}

.links li {
    margin-right: 20px;

}

.links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
    
}

.links a:hover {
    color: #ff7f50;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
}

/* .suggestion {
    font-size: 18px;
    color:#fff
} */
.page, .page2 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    position: relative; /* Add relative positioning for pseudo-elements */
    overflow: hidden; /* Ensure that the glowing border is contained within the box */

    /* New code for glowing border */
    animation: glowBorder 3s infinite alternate;
}

@keyframes glowBorder {
    0% {
        box-shadow: 0 0 10px #007bff;
    }
    100% {
        box-shadow: 0 0 20px #007bff;
    }
}

.page2 {
    /* Add a different color for the second box */
    animation: glowBorder2 3s infinite alternate;
}

@keyframes glowBorder2 {
    0% {
        box-shadow: 0 0 10px blue;
    }
    100% {
        box-shadow: 0 0 20px rgb(60, 60, 245);
    }
}

.head {
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    text-decoration: underline;
}

.content {
    margin-bottom: 20px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.output, .category, .suggestion {
    font-size: 18px;
    margin-top: 10px;
}

.output span, .category span, .suggestion span {
  
    color: #ffffff;
}
#foodSuggestion{
    color:white;
}
